<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/formularios.css" />
    </head>

    <body>
        <header th:replace="plantilla/plantilla::barra-navegacion"></header>

        <div class="container-formulario">
            <h1 th:replace="plantilla/plantilla::titulo-formulario"></h1>
            <div class="formulario">
                <!-- Pasamos el objeto de tipo persona 
                -->
                <form th:object="${usuarios}" th:action="@{/savePersona}" method="POST">

                    <input type="hidden" th:field="*{id_persona}">
                    <input type="number" class="form-control rounded-3" id="floatingInput"
                           th:field="*{cedula}" placeholder="Cedula" required>

                    <input type="text" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{nombre}" placeholder="Nombre" required>

                    <input type="text" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{primerAp}" placeholder="Primer Apellido" required>

                    <input type="text" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{segundoAp}" placeholder="Segundo Apellido">

                    <input type="text" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{direccion}" placeholder="Direccion">

                    <input type="email" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{email}" placeholder="Correo Electronico" required>

                    <input type="text" class="form-control rounded-3" id="floatingPassword"
                           th:field="*{telefono}" placeholder="Telefono" required>

                    <select th:field="*{tipoPersonaId}" class="desplegable"
                            id="tipoPersonaId">
                        <option th:each="x:${tipoPersonas}" th:value="${x.getId_tipo_persona}"
                                th:text="${x.getNombre}" th:selected="${usuarios.getId_persona}">
                    </select>

                    <div class="botones">    
                        <!--button class="w-100 mb-2 btn btn-lg rounded-3 btn-success"type="submit" class="btn btn-success" value="Guardar">Submit</button-->
                        <button class="btn-agregar" type="submit" th:text="${boton}"></button>
                        <a href="javascript: history.go(-1)">
                            <button type="button" class="btn-cancelar" name="btn-cancelar">Volver atrás</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>