<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/formularios.css" />
</head>

<body>
    <header th:replace="plantilla/plantilla::barra-navegacion"></header>

    <div class="container-formulario">
        <h1 th:replace="plantilla/plantilla::titulo-formulario"></h1>
        <div class="formulario">
            <form th:object="${Usuario}" th:action="@{/EditarUsuario}" method="POST">

                <input type="hidden" th:field="*{Usuario_Id}">

                <input type="text" class="form-control rounded-3" id="floatingInput" th:field="*{Nickname}"
                    placeholder="Nombre de usuario (Nickname)" required>

                <input type="text" class="form-control rounded-3" id="floatingPassword" th:field="*{Nombre}"
                    placeholder="Nombre" required>

                <input type="text" class="form-control rounded-3" id="floatingPassword" th:field="*{Primer_Apellido}"
                    placeholder="Primer Apellido" required>

                <input type="text" class="form-control rounded-3" id="floatingPassword" th:field="*{Segundo_Apellido}"
                    placeholder="Segundo Apellido" required>

                <input type="email" class="form-control rounded-3" id="floatingPassword" th:field="*{Email}"
                    placeholder="Correo Electrónico" required>

                <input type="password" class="form-control rounded-3" id="floatingPassword" th:field="*{Contrasena}"
                    placeholder="Contraseña del usuario" required>

                <input type="text" class="form-control rounded-3" id="floatingPassword" th:field="*{Telefono}"
                    placeholder="Número de teléfono" required>

                <select th:field="*{Rol_Id}" class="desplegable" id="Rol_Id">
                    <option th:each="x:${Rol}" th:value="${x.getRol_Id}" th:text="${x.getNombre}">
                </select>

                <select th:field="*{Estado_Usuario_Id}" class="desplegable" id="Estado_Usuario_Id">
                    <option th:each="x:${Estado}" th:value="${x.getEstado_Usuario_Id}" th:text="${x.getNombre}">
                </select>

                <div class="botones">
                    <button type="submit" class="btn-agregar" name="btn-agregar" th:text="${boton}"></button>
                    <a href="javascript: history.go(-1)">
                        <button type="button" class="btn-cancelar" name="btn-cancelar">Volver atrás</button>
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>