<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/tablas.css" />
</head>
<title>Tabla de Facturas</title>
</head>

<body>

    <header th:replace="plantilla/plantilla::barra-navegacion"></header>


    <div class="container-tabla">
        <h1 th:replace="plantilla/plantilla :: titulo-tabla"></h1>

        <div class="centro" id="alert">
            <div th:replace="plantilla/plantilla :: container-mensaje-exito"></div>
            <div th:replace="plantilla/plantilla :: container-mensaje-error"></div>
        </div>

        <table id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID de Factura</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Tipo de Venta</th>
                    <th scope="col">Total de Entrega</th>
                    <th scope="col">Total</th>
                    <th scope="col">Medio de Pago</th>
                    <th scope="col">Fecha de Venta</th>
                    <th scope="col">Ver detalle</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="factura : ${lista}">
                    <tr>
                        <td th:text="${factura.getId_factura}"></td>
                        <td th:text="${factura.getVendedor}"></td>
                        <td th:text="${factura.getCliente}"></td>
                        <td th:text="${factura.getTipoVenta}"></td>
                        <td th:text="${factura.getTotalEntrega}"></td>
                        <td th:text="${factura.getTotal}"></td>
                        <td th:text="${factura.getMedioPagoID}"></td>
                        <td th:text="${factura.getFechaHoraVenta}"></td>
                        <td>
                            <a th:href="@{/verFactura/{id} (id=${factura.getId_factura})}">Ver detalle</a>
                        </td>
                        <td>
                            <a th:href="@{/borrarFactura/{id} (id=${factura.getId_factura})}">Borrar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        setTimeout(function () {
            // Closing the alert
            $('#alert').alert('close');
        }, 3000);
    </script>
</body>

</html>