<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css"/>
        <link rel="stylesheet" href="/css/formularios.css"/>
        <link rel="stylesheet" href="/css/facturas.css"/>
    </head>
    <title>Document</title>
</head>

<body>
    <header th:replace="plantilla/plantilla::barra-navegacion"></header>

    <div class="container-formulario">
        <h1 th:text=" 'Factura ' + ${factura.getId_factura}"></h1>
        <div class="cabecera">
            <div class="row">
                <div class="col">
                    <label class="indicador"> Vendedor </label>
                    <label th:text="${factura.getVendedor}"></label>
                </div>
                <div class="col">
                    <label class="indicador"> Cliente: </label>
                    <label th:text="${factura.getCliente}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="indicador"> Medio de pago: </label>
                    <label th:text="${factura.getMedioPago}"></label>
                </div>
                <div class="col">
                    <label class="indicador"> Fecha de venta: </label>
                    <label th:text="${factura.getFechaHoraVenta}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="indicador"> Tipo de venta </label>
                    <label th:text="${factura.getTipoVenta}"></label>
                </div>
                <div class="col">
                    <label class="indicador"> Total de entrega: </label>
                    <label th:text="${factura.getTotalEntrega}"></label>
                </div>
<!--                <div class="col">
                    <label class="indicador"> Total: </label>
                    <label th:text="${factura.getTotal}"></label>
                </div>-->
            </div>
        </div>

        <table class="table table-dark table-striped" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FacturaID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th> 
                </tr>
            </thead>
            <tbody>
            <th:block th:each="detalle : ${detalles}"> <!-- lista es el valor que se envia desde el controller, user es lo que se usa para iterar -->
                <tr>
                    <td th:text="${detalle.getIDDetalle}"></td>
                    <td th:text="${detalle.getFacturaID}"></td>
                    <td th:text="${detalle.getProducto}"></td>
                    <td th:text="${detalle.getTamano}"></td>
                    <td th:text="${detalle.getPrecio}"></td>
                    <td th:text="${detalle.getCantidad}"></td>
                </tr>      
            </th:block>
            </tbody>
        </table>

        <div class="container-total">
            <div class="total">
                <label class="indicador"> Total: </label>
                <label th:text="${factura.getTotal}"></label>
            </div>
        </div>

    </div>


</body>

</html>
